@font-face {
    font-family: 'HitmarkerNormal';
    src: url('/fonts/HitmarkerNormal-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HitmarkerNormal';
    src: url('/fonts/HitmarkerNormal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HitmarkerNormal';
    src: url('/fonts/HitmarkerNormal-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HitmarkerNormal';
    src: url('/fonts/HitmarkerNormal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.big-center-text {
    font-family: 'HitmarkerNormal', sans-serif;
}