@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #000;
  --color-background: #fff;
}

.dark {
  --color-text: #fff;
  --color-background: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

input {
  color: var(--color-text);
  background-color: var(--color-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1); */
  position: relative;
  z-index: 10;
}